<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue.js Start</title>
    <style>
        #button1 {
            width: 40px;
            height: 40px;
        }
    </style>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="item in itemList"> {{item.name}} </li>
            <input v-model="itemName" placeholder="Item name">
            <button id="button1" @click="addItem(itemName)">Add item</button>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                lastItemId: 'Hello DevMeetings!',
                itemList: [ {'name': 'aaa'}, {'name': 'bbb'}, {'name': 'ccc'} ]
            },
            methods: {
                addItem(itemName) {
                    this.itemList.push({'name': itemName})
                }
            }
        })
    </script>
</body>

</html>